.faq {
  width: 100%;
  max-width: 1500px; /* Adjust the value as per your requirement */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faq h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  width: calc(33.33% - 20px); /* Adjust the width and spacing as per your requirement */
  margin-bottom: 20px;
  border: none; /* Remove border */
  box-sizing: border-box;
}

.card-header {
  background-color: transparent; /* Remove background color */
  cursor: pointer;
  border: none; /* Remove border */
}

.card-body {
  background-color: #fff;
  padding: 10px;
}

.btn-link {
  text-align: left;
  width: 100%;
}

.btn-link:hover {
  text-decoration: none;
}

.collapsed .btn-link::after {
  /* content: '\002B'; */
  float: right;
}

.btn-link[aria-expanded='true']::after {
  content: '\2212';
  float: right;
}

@media (max-width: 3000px) {
  .card {
    width: calc(50% - 20px); /* Adjust the width and spacing as per your requirement */
  }
}

@media (max-width: 3000px) {
  .faq {
    padding: 50px;
  }

  .card {
    width: 100%; /* Adjust the width as per your requirement */
  }
}
